body {
  font-family: Times, Roman, "times new roman", serif;
	background-color: #ffffff;
	color: #0C1E28;
}

p {
  font-family: Times, Roman, "times new roman", serif;
	background-color: #ffffff;
	color: #0C1E28;
}

td {
  font-family: Times, Roman, "times new roman", serif;
	background-color: #ffffff;
	color: #0C1E28;
}

a:link {
	color: #404696;
}

a:visited {
	color: #627398;
}

pre {
   font-family: courier,courier-new,fixed;
}

tt {
   font-family: courier,courier-new,fixed;
}

h1 {
	font-family: Arial,Helvetica,sans-serif;
	color: #6e8ae6;  
	border: 1px solid #ffdb43;
	border-width : 0 0 1 0;
}

h2 {
   font-family: Arial,Helvetica,sans-serif;
   color: #6e8ae6;
}

h3 {
   font-family: Arial,Helvetica,sans-serif;
   color: #6e8ae6;
}

h4 {
   font-family: Arial,Helvetica,sans-serif;
   color: #6e8ae6;
}
h5 {
   font-family: Arial,Helvetica,sans-serif;
   color: #6e8ae6;
}
h6 {
   font-family: Arial,Helvetica,sans-serif;
   color: #6e8ae6;
}

code {
	font-family: courier,courier-new,fixed;
	white-space: pre;
}

.note {
	background-color: #ffdb43;
	border: 1pt solid #6e8ae6;
	padding: 4pt;
	margin: 5pt;
}

.navbox {
	background-color: #6e8ae6;
	border: 1pt solid #ffdb43;
	padding: 4pt;
	margin: 5pt;
	text-align: center;
	font-family: Arial,Helvetica,sans-serif;
}

.navbox a {
   color: #ffffff;
}