/* This file is copyrighted under the GNU Free Documentation 
   License Version 1.1 which you can get from http://www.gnu.org */

body {
	font-size: 12px;
	font-family: Verdana, sans-serif;
	margin: 0;
	padding: 0;
	background: #fdfdfd;
}

h1, h2 {
	font-size: x-large;
	font-family: Georgia, Times, serif;
}

h3, h4, h5, p.title {
	font-size: medium;
	font-weight: bold;
	width: 70%;
	border-bottom: 1px solid black;
	letter-spacing: 2px;
	margin-top: 30px;
}

h3, h4 {
	text-decoration: underline;
	border: 0;
	letter-spacing: normal;
}

div.itemizedlist li {
	clear: none;
}

.term { 
	clear: both;
}

p {
	display: block;
	margin: 5px 0;
	margin-bottom: 15px;
	width: 70%;
	min-width: 40em;
	text-align: justify;
}

.filename {
	font-size: medium;
	font-family: Courier, monospace;
}

/* don't display anchor tags with only an id attribute */
p a[id] {
	margin: 0;
	padding: 0;
	display: inline;
	background-image: none;
}

dd {
	margin: 5px 40px;
	margin-right: 0;
}

hr {
	border: 0px;
	border-top: 1px solid black;
	width: 70%;
	margin-top: 20px;
	padding-bottom: 10px;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
}


div.navheader, 
div.navfooter {
	background: #3366cc url(imgs/nav-bg.png) bottom repeat-x;
}

div.navheader table th {
	color: black;
	font-family: serif;
	font-size: x-large;
}

div.navheader table th#chaptername {
	color: lightyellow;
	font-family: Georgia, Times, serif;
	font-size: large;
}

div.navheader table, 
div.navfooter table {
	border: 1px solid black;
	border-left: 0;
	border-right: 0;
}

div.navheader table td a,
div.navfooter table td a {
	color: #efefef;
	text-decoration: underline;
}

/* normal text in the footer */
div.navfooter td {
	color: #E4CA95;
}
	
/* links in header and footer */
div.navheader table td a:hover,
div.navfooter table td a:hover {
	text-decoration: underline;
	background-color: transparent;
}

div.navheader table td a:visited,
div.navfooter table td a:visited {
	color: #efefef;
}

div.navheader hr, div.navfooter hr {
	display: none;
}
 
div.book,
div.preface,
div.part,
div.chapter,
div.sect1, 
div.sect2,
div.sect3,
div.appendix, 
div.section, 
div.glossary,
div.bibliography {
	margin: 3em;
}

/* table of contents */
div.toc {
	border: 1px solid #3366cc;
	padding: 0px 10px;
	background-color: #e5ecf9;
	color: black;
	margin-bottom: 1cm;
	width: 70%;
}

div.toc b { 
	font-size: 140%;
}

div.toc a {
	margin-left: 5px;
	margin-bottom: 5px;
}
	
/* toc definitions for different sections and chapters */
div.book div.toc {
	background-color: transparent;
	border: 0;
	padding: 0;
	font-size: medium;
}

div.book div.toc .chapter a {
	display: block;
	border-bottom: 1px dotted black;
}

.procedure {
	width: 90%;
}

.warning, .caution, .tip, .note {
	min-width: 60%;
	max-width: 70%;
	padding: 0 0 0 10px;
	margin: 10px 0;
	clear: right;
}

.warning p {
	min-width: 90%;
}

.caution p {
	min-width: 90%;
}

.note p {
	min-width: 90%;
}

.guimenu, .guimenuitem, .guilabel, .guisubmenu {
	font-family: Courier;
	font-size: 11px;
	padding: 0px;
}

.title {
	clear: both;
}
 
div.caption {
	font-weight: bold;
}

/* For command line commands given through the screen tag*/
.screen {
	font-size: medium;
	padding: 5px;
	margin: 5px;
	border: 1px solid #bbb;
	background-color: #eee;
	width: auto;
	height: auto;
}

/* For variable lists, indentation of the term element */
.term {
	margin-left: 10px;
}

.tip {
	width: 40%;
	border: 1px dotted #bbb;
	background: #efefef;
}
.tip > .title {
	margin-top: 10px;
	font-size: small;
	font-style: italic;
	font-weight: normal;
	text-decoration: none;
	color: #3366cc;
}

/* For variable lists, to display tip in blue */
dt > SPAN[class="term"] > SPAN[class="emphasis"]  > em {
	color: #3366cc;
}

/* For figure, to get a small margin */
.figure {
	margin-left: 5px;
}

/* For figures, examples and procedures, to get a small font */
.figure > .title, .procedure > .title, .example > .title {
	font-size: 12px;
	font-weight: bold;
}

/* For book subtitle */
h2.subtitle {
	font-size:11px;
	font-style:italic;	
}

/* For authors' names */
h3.author {
	font-size:small ;
}

/* For copyright */
.copyright {
	font-size:11px;
}
