#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# This is the debhelper compatability version to use.
# export DH_COMPAT=4

PACKAGE=bluefish
INSTALL=/usr/bin/install

CFLAGS= -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
  CFLAGS += -O0
else
  CFLAGS += -O2
endif

ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
  INSTALL_PROGRAM += -s
endif

config.status: configure
	dh_testdir
	# Add here commands to configure the package.
	CFLAGS="$(CFLAGS)" ./configure \
		--prefix=/usr \
		--mandir=\$${prefix}/share/man \
		--without-icon-path \
		--with-freedesktop_org-menu=\$${prefix}/share/applications \
		--with-freedesktop_org-mime=\$${prefix}/share/mime \
		--without-gnome2_4-mime \
		--without-gnome2_4-appreg \
		--disable-update-databases

build: build-stamp

build-stamp: config.status
	dh_testdir
	# Add here commands to compile the package.
	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	-rm -f build-stamp
	
	# Add here commands to clean up after the build process.
	-$(MAKE) distclean
	-rm -f config.*
	
	libtoolize -c --force
	-test -r /usr/share/misc/config.sub && \
		cp -f /usr/share/misc/config.sub config.sub
	-test -r /usr/share/misc/config.guess && \
		cp -f /usr/share/misc/config.guess config.guess
	-test -r /usr/share/gettext/config.rpath && \
		cp -f /usr/share/gettext/config.rpath config.rpath
	
	aclocal-1.7
	autoconf
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/bluefish.
	$(MAKE) install DESTDIR=$(CURDIR)/debian/$(PACKAGE)


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_installdocs
	dh_installman
	dh_installmenu
	dh_installchangelogs
	# dh_installchangelogs NEWS # if source contains NEWS
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
