Source: bluefish-doc
Section: doc
Priority: optional
Maintainer: Davide Puricelli (evo) <evo@debian.org>
Build-Depends-Indep: debhelper (>= 4.0.0), docbook-xsl (>= 1.66.1), dpatch, fop, libxml2-utils, xsltproc
Standards-Version: 3.6.1.1

Package: bluefish-doc-html
Architecture: all
Section: doc
Recommends: lynx | galeon | mozilla | www-browser
Suggests: bluefish
Provides: bluefish-doc
Description: bluefish user manual (HTML)
 The bluefish user manual in HTML format.
 .
 Bluefish is a GTK HTML editor for the experienced web designer.

Package: bluefish-doc-pdf
Architecture: all
Section: contrib/doc
Recommends: xpdf | gpdf | kpdf | pdf-viewer
Suggests: bluefish
Provides: bluefish-doc
Description: bluefish user manual (pdf)
 The bluefish user manual in pdf (portable document format) format.
 The package contains to manuals, one in A4 and one in US letter.
 .
 Bluefish is a GTK HTML editor for the experienced web designer.

Package: bluefish-doc-ps
Architecture: all
Section: contrib/doc
Recommends: gv | gnome-gv | postscript-viewer
suggests: bluefish
Provides: bluefish-doc
Description: bluefish user manual (ps)
 The bluefish user manual in ps (postscript) format.
 The package contains to manuals, one in A4 and one in US letter.
 .
 Bluefish is a GTK HTML editor for the experienced web designer.  
